<a href="https://colab.research.google.com/github/Athyunnatha/Applications-of-Data-Mining/blob/main/ASSIGNMENT%20WEEK6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Create custom data
data = {
    'Category': ['Fruit', 'Vegetable', 'Fruit', 'Fruit', 'Vegetable', 'Grain'],
    'Price': [10, 5, 12, 9, 6, 7]
}
# Create DataFrame
df = pd.DataFrame(data)
# Label Encoding
label_encoder = LabelEncoder()
df['Category_Label_Encoded'] = label_encoder.fit_transform(df['Category'])
# One-hot Encoding using get_dummies
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
# Display the resulting DataFrame
print(df)

    Category  Price  Category_Label_Encoded  Category_Fruit  Category_Grain  \
0      Fruit     10                       0            True           False
1  Vegetable      5                       2           False           False
2      Fruit     12                       0            True           False
3      Fruit      9                       0            True           False
4  Vegetable      6                       2           False           False
5      Grain      7                       1           False            True

   Category_Vegetable
0               False
1                True
2               False
3               False
4                True
5               False

In [3]:
import pandas as pd
from datetime import datetime
# Create custom data
data = {
    'Employee': ['John', 'Sara', 'Mike', 'Emily', 'James'],
    'Role': ['Manager', 'Developer', 'Designer', 'Developer', 'Analyst'],
    'Start_Date': ['2015-05-01', '2018-08-15', '2019-02-23', '2020-01-10', '2017-07-05']
}
# Create DataFrame
df = pd.DataFrame(data)
# Convert Start_Date to datetime
df['Start_Date'] = pd.to_datetime(df['Start_Date'])
# Calculate Years of Experience
current_year = datetime.now().year
df['Years_of_Experience'] = current_year - df['Start_Date'].dt.year
# If the current year is before the employee's start date in the year, subtract 1 from the experience
df.loc[(df['Start_Date'].dt.month > datetime.now().month) |
       ((df['Start_Date'].dt.month == datetime.now().month) &
        (df['Start_Date'].dt.day > datetime.now().day)), 'Years_of_Experience'] -= 1
# Display the resulting DataFrame
print(df)

  Employee       Role Start_Date  Years_of_Experience
0     John    Manager 2015-05-01                    9
1     Sara  Developer 2018-08-15                    6
2     Mike   Designer 2019-02-23                    6
3    Emily  Developer 2020-01-10                    5
4    James    Analyst 2017-07-05                    7

In [5]:
import pandas as pd
# Create custom data
data = {
    'Department': ['HR', 'HR', 'Sales', 'Sales', 'Engineering', 'Engineering', 'Engineering'],
    'Employee': ['John', 'Sara', 'Mike', 'Emma', 'Alice', 'Bob', 'Charlie'],
    'Salary': [50000, 55000, 60000, 65000, 70000, 72000, 75000]
}
# Create DataFrame
df = pd.DataFrame(data)
# Group by and aggregate
grouped = df.groupby('Department').agg({'Salary': ['sum', 'mean']})
print("Grouped Data:\n", grouped)
# Pivot table
pivot = df.pivot_table(index='Department', values='Salary', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

Grouped Data:
              Salary
                sum          mean
Department
Engineering  217000  72333.333333
HR           105000  52500.000000
Sales        125000  62500.000000

Pivot Table:
                 sum          mean
             Salary        Salary
Department
Engineering  217000  72333.333333
HR           105000  52500.000000
Sales        125000  62500.000000